#navList li {
    text-decoration:none;
    line-height:30px; 
    display:inline; 
    padding-right:20px; 
    list-style-type: none;
}
p {
    text-align: left;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}
